.App {
	text-align: center;
}

.active {
	display: flex;
}
.inactive {
	display: none;
}
.modal {
	position: absolute;
	justify-content: flex-end;
	flex-wrap: wrap;
	background-color: grey;
	width: 850px;
}