.nav .btn {
	width: 150px;
	margin: 10px;
}
.nav {
	margin-bottom: 20px;
	padding: 10px;
	background-color: var(--bg-secondary-color);
	border: 2px solid black;
}

.wrapper {
	padding: 20px;
	align-items: center;
	border: 3px solid var(--bg-tertiary-color);
	background-color: var(--bg-primary-color);
}

.stratagems {
	align-items: center;
}
.stratagem-btn-container .btn {
	width: 300px;
	margin: 5px;
}
