.counter-container {
    margin-right: 10px;
    border: 1px solid black;
	background-color: var(--bg-tertiary-color);
}
.counter-container h3 {
    padding: 10px;
	margin: 0;
	font-size: 26px;
}
.counter-btn-container .btn {
	width: 70px;
}
