.counter-container {
    margin-right: 10px;
    border: 1px solid var(--btn-color);
	background-color: var(--bg-tertiary-color);
	align-items: center;
}
.counter-container h3 {
	height: 38px;
	margin: 10px;
	font-size: 26px;
}

.counter-btn-container .btn {
	width: 70px;
	margin: 4px;
}
