.counter-container {
	align-items: center;
	margin-right: 10px;
    border: 1px solid var(--btn-color);
	background-color: var(--bg-tertiary-color);
	box-shadow: 0 0 5px black;
}
.counter-container h3 {
	height: 38px;
	margin: 10px;
	font-size: 26px;
}

.counter-btn-container .btn {
	width: 70px;
	margin: 4px;
}
