.list-item {
	width: 400px;
	margin: 0 5px 15px 5px;
	padding: 5px;
	border: 2px solid var(--btn-color);
	border-radius: 25px;
	break-inside: avoid;
	height: min-content;
}

.container-right .btn {
	width: 50px;
}

.container-left,
.container-right {
	justify-content: center;
	align-items: center;
}
.container-head {
	border: 3px solid var(--btn-color);
	border-radius: 25px;
	padding: 5px;
}
.container-left {
	width: 300px;
	border-right: 1px solid var(--btn-color);
}

.container-right {
	width: 100px;
}
.cost,
.name {
	text-transform: uppercase;
	font-weight: bold;
}
.phase,
.category {
	font-size: 12px;
}

.text {
	font-size: 13px;
}
.keywords {
	text-align: center;
	padding: 5px;
	border-top: 1px solid var(--btn-color);

	font-size: 14px;
	font-weight: bold;
}
