.active {
	display: flex;
}
.inactive {
	display: none;
}
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 25px;
	flex-direction: column;
	align-items: center;
	background-color: var(--bg-quaternary-color);
	border: 1px solid var(--bg-tertiary-color);
}

.modal-container {
	margin-bottom: 15px;
}

.modal-btn-container .btn {
	width: 100px;
}
