* {
	box-sizing: border-box;
	margin: 0;
}

body {
	display: flex;
	height: 100%;
	width: 100vh;
	padding: 40px;
}

textarea {
	width: 500px;
	margin-bottom: 30px;
    margin-right: 30px;
    resize: none;

}

.text {
	height: 300px;
}

.answer {
	height: 600px;
}
